version: "3"
services:
  keycloak:
    image: jboss/keycloak:12.0.2
    restart: unless-stopped
    volumes:
      - ./config/keycloak/realm-export.json:/tmp/realm.json
    environment:
      PROXY_ADDRESS_FORWARDING: "true"
      KEYCLOAK_IMPORT: /tmp/realm.json
      KEYCLOAK_USER: ${KEYCLOAK_USER}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}

  apollo:
    build: ./server
    restart: unless-stopped
    volumes:
      - ./db:/usr/src/app/db
      - ./certs:/usr/src/certs
    environment:
      KEYCLOAK_ADDRESS: ${KEYCLOAK_ADDRESS}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      CLIENT_ORIGIN: ${CLIENT_ORIGIN}
      SERVER_PORT: ${SERVER_PORT}
      SERVER_HOST: ${SERVER_HOST}
      NODE_ENV: ${NODE_ENV}

  nginx:
    build: ./client
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./config/nginx:/etc/nginx/conf.d
      - ./config/certs:/certs
    depends_on:
      - keycloak
      - apollo
