version: "3"
services:
  keycloak:
    image: jboss/keycloak:12.0.2
    restart: unless-stopped
    ports:
      - 8180:8080
    environment:
      KEYCLOAK_IMPORT: /tmp/realm.json
    volumes:
      - ./config/keycloak/trader-admin-realm.json:/tmp/realm.json

  server:
    build: ./server
    restart: unless-stopped
    ports:
      - 4000:4000
    volumes:
      - ./server/db:/usr/src/app/db
      - ./certs:/usr/src/certs

  nginx:
    build: ./client
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./config/nginx:/etx/nginx/conf.d
